<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--1、配置数据库信息-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_day01?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>

        <!--2、配置hibernate信息，可选-->
        <!--输出底层sql语句-->
        <property name="hibernate.show_sql">true</property>
        <!--输出底层sql语句格式化-->
        <property name="hibernate.format_sql">true</property>
        <!--hibernate帮创建表，需配置后
            update:如果已有表，则更新，无表，则创建
        -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--配置数据库方言
            mysql里面实现分页，关键字limit，只能使用在MySQL中
            oracle实现分页，关键字rownum
            让hibernate框架识别不同数据库自己特有的语句
         -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!--配置session绑定本地线程-->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!--3、把映射文件放在核心配置文件中-->
        <mapping resource="User.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>